{% extends "base.html" %}
{%   load   staticfiles   %}

{% block elcss %}
{% endblock %}
{% block titulo %} Maestros {% endblock %}
{% block content %}
<row>
	<div class="col-md-4">
		<a href="#" class="btn btn-default btn-lg btn-block">Paises</a>
		<a href="/provincia" class="btn btn-default btn-lg btn-block">Provincias</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Monedas</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Impuestos</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Formas de Pago</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Empresas</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Sucursal</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Almacenes</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Empleados</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Almacenes</a>
		<br /><br />
  </div>
  <div class="col-md-4" >
		<a href="#" class="btn btn-default btn-lg btn-block">Paises</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Provincias</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Monedas</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Impuestos</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Formas de Pago</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Empresas</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Sucursal</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Almacenes</a>
		<br /><br />
  </div>
	<div class="col-md-4" >
		<a href="#" class="btn btn-default btn-lg btn-block">Paises</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Provincias</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Monedas</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Impuestos</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Formas de Pago</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Empresas</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Sucursal</a>
		<a href="#" class="btn btn-default btn-lg btn-block">Almacenes</a>
		<br /><br />
	</div>
</row>
{% endblock %}
